

<%- include("../partials/navs.ejs") %>



    <!-- =========  T E R M I N A L  ======== -->
 <section>
   <div class="all-terminal">

 <% if(datas.length > 0){ %>
   <% datas.forEach(data => { %>
   <a href="/terminal/detail/<%= data._id %>">
      <div class="single-terminal">
        <div class="left-terminal">
         <h1><%= data.From %> - <%= data.Destination %></h1>
         <h4><%= data.Date %></h4>
       </div>
       <div class="right-terminal">
         <h1><%= data.Station %></h1>
         <h4><%= data.Price %></h4>
         <form action="/delete/trip" method="POST">
  <input type="hidden" name="Delete" value="<%= data._id %>">
<button class="btn" type="submit" style="padding: 10px; margin: 0px; font-size: 13px; float: right;">Delete</button>
</form>
       </div>
     </div>
   </a>
   <% }) %>
 <% } else { %>
        <h2 style="padding: 40px; text-align: center;">There are no trip available...</h2>
  <% } %>

   </div>
 </section>




<%- include("../partials/footer.ejs") %>
